.container {
  height:580px;
  margin-right: auto;
  margin-left: auto;
  background-color: #6cd2e6;
  overflow:hidden;

  @media (min-width: 768px) {
    width:758px;
  }

  @media (min-width: 1200px) {
    width:1250px;
  }

}

.Header-canvas {
  width:758px;
  height:580px;

  @media (min-width: 1200px) {
    width:1200px;
  }
}